@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 86%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.accordians { font-size: 13px; }

.accordians ul {
  width: 60%;
  margin: 0 auto;
  box-sizing: border-box;
}


.plus {
  text-indent: -9999px;
  display: inline-block;
  position: absolute;
  right: 3%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.plus::before {
  content: '\f055';
  font-family: "fontAwesome";
  text-indent: 0;
  float: left;
  font-size: 16px;
  border-radius: 50%;
  color: #FFF;
  font-weight: 300;
}

.minus {
  text-indent: -9999px;
  display: inline-block;
  position: absolute;
  right: 3%;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}


.minus::before {
  content: '\f056';
  font-family: "fontAwesome";
  text-indent: 0;
  float: left;
  font-size: 16px;
  border-radius: 50%;
  color: #FFF;
  font-weight: 300;
}

h2 { text-transform: uppercase; }

.face {
  padding: 2%;
  position: relative;
  background-color: #ffa41b;
  color: #21243d;
}

.accordians article {
  max-height: 0;
  box-sizing: border-box;
  overflow: hidden;
  background-color: rgba(0,0,0,0.07);
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.accordians article h2,
.accordians article p {
  padding: 5px 3%;
  font-weight: lighter;
  line-height: 23px;
}


.accordians article a {
  padding: 8px 15px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  margin: 10px 3%;
  background-color: #ffa41b;
  color: #21243d;
  text-transform: capitalize;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.accordians article a:hover {
  background-color: #21243D;
  color: #FFF;
}

.active article {
  max-height: 300px;
  box-sizing: border-box;
  overflow: hidden;
}

.accordians ul li:last-child article {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 
 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 768px) {

  .accordians{
    font-size: 12px;
  }
  .accordians ul{
    width: 100%;
  }

}  